<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        #SearchSchool1-list, #SearchSchool2-list {
            width: 514px !important;
            overflow: hidden !important;
        }

        .k-list-container {
            border-color: #fff !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 5px !important;
        }

        .k-animation-container {
            width: 520px !important;
            top: 513px !important;
        }
    </style>
    <meta charset="utf-8">
    <base th:href="${#request.getContextPath()} + '/'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>商场</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!--jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jqery-cookie.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="google-signin-client_id" content="887108431400-j0dct7dkki2dkm1s79osjloht39u1edh.apps.googleusercontent.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@proprepme">
    <meta name="twitter:creator" content="@proprepme">
    <meta name="twitter:title" content="Proprep">
    <meta name="twitter:description" content="The best way to get an A. Register today and receive great offers to help you improve your grades at college.">
    <meta name="twitter:image" content="https://pbs.twimg.com/media/DYAkvdjW4AUrZ-8.jpg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" async integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link href="https://www.proprep.com/Content/bootstrap/cssMin?v=9w3N94_fu0Ky1YW7KgpkACGLp49WbMeG_cAZic8s6q41" rel="stylesheet"/>
    <link href="https://www.proprep.com/Content/proprep/cssMin?v=Y9XZS7Fp24YSTkuB4vzcInj_hrwLOdZj6qLsfb1_OLc1" rel="stylesheet"/>
    <style>
    </style>
    <script src="https://www.proprep.com/Scripts/Utils/messages.js" async type="text/javascript"></script>
    <meta property="og:title" content="Online courses and exam preparation - proprep™ | ProPrep" />
    <meta name="description" content="Home" />
    <meta property="og:description" content="Home" />
    <meta property="og:image" content="http://www.proprep.com/Images/girl.png" />
</head>
<body>

    <div class="container-fluid header-container animated fadeIn" id="fixheader">
        <!--loginheader-->
        <div class="row">
            <div class="header center-content">

                <div class="hamburger-icon"></div>
                <div class="logo float-left"><a href="/"><img src="/images/logo.png" alt="" /></a></div>
                <div class="subjects-item pull-left hide-tablet">
                    <a href="#" class="subjects-tig"><span>商城</span></a>
                    <div class="subjects-dropdown">


                    </div>

                </div>
                <div class="header-right flex-wrap d-flex float-right">




                    <div class="header-log-in hide-mobile"><a href="/User/Login?returnUrl=%2F">Login</a></div>
                    <div class="header-sign-up"><a href="/Sign-up" class="btn btn-success">登陆</a></div>




                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <<div class="col-md-12">
        <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2" th:each="goods:${goods}" >
                <div class="thumbnail">
                    <img th:src="@{${goods.goodPic}}" alt="..." style="width: 200px;height: 150px">
                    <div class="caption">
                        <h3 th:text="${goods.goodName}">Thumbnail label</h3>
                        <p th:text="'已购买'+${goods.sellNum}+'次'">...</p>
                        <p>
                            <a th:href="@{'goods/listSku?goodsId='+${goods.goodId}}">商品详情</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<script>


</script>
</html>