
<!DOCTYPE html>
<html>

<head>
    <base href="${#request.getContextPath()}+'/'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="language" content="en-us" />
    <meta name="description" content="Free powerful Facebook marketing intelligence tools from social frontier you can start using right now">
    <title>微商场登陆</title>
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="Free Facebook marketing intelligence tools from Social Frontier" />
    <meta property="og:image" content="https://socialfrontier.com/images/sf_ogimage.png?1510323649829" />
    <meta property="og:description" content="Free powerful Facebook marketing intelligence tools from social frontier you can start using right now"
    />
    <meta property="og:title" content="Free Facebook marketing intelligence tools from Social Frontier" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@socialfrontierr">
    <meta name="twitter:creator" content="@socialfrontierr">
    <meta name="twitter:title" content="Free Facebook marketing intelligence tools from Social Frontier">
    <meta name="twitter:description" content="Free powerful Facebook marketing intelligence tools from social frontier you can start using right now">
    <meta name="twitter:image" content="https://socialfrontier.com/images/sf_ogimage.png?1510323649829">

    <link rel="icon" href="https://socialfrontier.com/images/favicon.png?v=4f32ecc8f43d">
    <link rel="stylesheet" type="text/css" href="https://socialfrontier.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://socialfrontier.com/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://socialfrontier.com/css/style_v5.css">
    <link rel="stylesheet" href="https://socialfrontier.com/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://socialfrontier.com/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="https://socialfrontier.com/css/animate.css">
    <link rel="stylesheet" href="https://socialfrontier.com/build/css/intlTelInput.css">
    <!-- End of Async Drift Code -->
    <style>
        .big-title,
        .sub-title {
            color: #fff !important;
        }
    </style>
</head>
<body class="gradient ">
<div id="top-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="8500">
                    <div class="carousel-inner">
                        <div class="item active">
                            <picture>
                                <source media="(min-width: 650px)" srcset="https://socialfrontier.com/images/carousel-1_sm.png">
                                <source media="(min-width: 465px)" srcset="https://socialfrontier.com/images/carousel-1_xs.png">
                                <img class="carouselImg animated bounceInDown" src="https://socialfrontier.com/images/carousel-1.png" alt="a cute kitten">
                            </picture>

                        </div>
                        <div class="item">
                            <picture>
                                <source media="(min-width: 650px)" srcset="/images/carousel-2_sm.png">
                                <source media="(min-width: 465px)" srcset="/images/carousel-2_xs.png">
                                <img class="carouselImg animated bounceInDown" src="/images/carousel-2.png" alt="a cute kitten">
                            </picture>
                            <!-- <img src="/images/carousel-2.png" class="carouselImg animated bounceInDown"> -->
                            <div class="carousel-caption">
                                <div class="big-title animated bounceInLeft">
                                    Give your marketing initiatives an edge
                                    <br/> with advanced marketing technology
                                </div>
                                <div class="sub-title animated bounceInLeft">
                                    Strategically maneuvering and campaign optimization across platforms are made 3X efficient with the help of technology.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <picture>
                                <source media="(min-width: 650px)" srcset="/images/carousel-3_sm.png">
                                <source media="(min-width: 465px)" srcset="/images/carousel-3_xs.png">
                                <img class="carouselImg animated bounceInDown" src="/images/carousel-3.png" alt="a cute kitten">
                            </picture>
                            <!-- <img src="/images/carousel-3.png" class="carouselImg animated bounceInDown"> -->
                            <div class="carousel-caption">
                                <div class="big-title animated bounceInLeft">
                                    Aim for customer loyalty
                                    <br/> rather than just leads
                                </div>
                                <div class="sub-title animated bounceInLeft">
                                    A brand loyal customer will have a real lifetime value compared to hundreds of leads with temporary or no value at all.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </div>
                <!-- /.carousel -->
            </div>
            <div class="col-md-4" id="overlay">
                <div class="overlay-box">
                    <div class="overlay-title">
                        微商场
                        <br/>
                        <br/> 欢迎登陆

                    </div>
                    <div class="domain-search-holder">
                        <div class="success" style="display: none;color: #4c4444 !important;font-size: 18px;font-family: 'nowaybold';"></div>
                        <form id="domain-search" class="form-horizontal">
                            <div class="overlay-form-body">
                                <input id="username" type="email" name="user" placeholder="用户名" required/>
                                <input id="pwd" type="tel" name="phone" placeholder="密码" pattern="^[0-9-+]{4,20}$" required
                                       oninvalid="this.setCustomValidity('Please enter valid Phone number')" oninput="setCustomValidity('')"
                                />
                            </div>
                            <div class="overlay-form-footer">
                                <input class="btn btn-block" id="search-btn" type="submit" name="submit" value="登陆" onclick="login()"/>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="https://socialfrontier.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://socialfrontier.com/js/jquery-migrate.min.js"></script>
<script src="https://socialfrontier.com/js/bootstrap.min.js"></script>
<script src="https://socialfrontier.com/js/createjs.min.js"></script>
<script src="https://socialfrontier.com/js/handanimation.js"></script>
<!-- <script src="/js/animation-start.js"></script> -->
<script src="https://socialfrontier.com/js/owl.carousel.min.js"></script>
<script src="https://socialfrontier.com/js/main.js"></script>
<script src="https://socialfrontier.com/build/js/intlTelInput.js"></script>
<script>
    function login() {
        var username = $("#username").val();
        var password = $("#pwd").val();

        alert(username);
        alert(password);
        if (username == "" || password == "") {
            alert("用户名和密码不能为空");
        }
//        $.post("user/login",{username:username,password:password},function (data) {
//            if (data.code==1) {
//                window.location.href="page/index.html";
//            } else {
//                alert("用户名或者密码错误");
//            }
//        });
    }
</script>
</body>

</html>
